<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instance</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>이름</th><td>{{ instance.name }}</td>
            </tr>
            <tr>
                <th>id</th><td>{{ instance.id}}</td>
            </tr>
            <tr>
                <th>image</th><td>{{ instance.image}}</td>
            </tr>
            <tr>
                <th>key_name</th><td>{{ instance.key_name}}</td>
            </tr>
            <tr>
                <th>locked</th><td>{{ instance.locked}}</td>
            </tr>
            <tr>
                <th>metadata</th><td>{{ instance.metadata}}</td>
            </tr>
            <tr>
                <th>name</th><td>{{ instance.name}}</td>
            </tr>
            <tr>
                <th>os_extended_volumes</th><td>{{ instance.os_extended_volumes}}</td>
            </tr>
            <tr>
                <th>progress</th><td>{{ instance.progress}}</td>
            </tr>
            <tr>
                <th>os_dce</th><td>{{ instance.os_dce }}</td>
            </tr>
            <tr>
                <th>os_ext_az</th><td>{{ instance.os_ext_az }}</td>
            </tr>
            <tr>
                <th>os_ext_srv_attr</th><td>{{ instance.os_ext_srv_attr }}</td>
            </tr>
            <tr>
                <th>os_ext_sts</th><td>{{ instance.os_ext_sts }}</td>
            </tr>
            <tr>
                <th>os_srv_usg</th><td>{{ instance.os_srv_usg }}</td>
            </tr>
            <tr>
                <th>os_extended_volumes</th><td>{{ instance.os_extended_volumes }}</td>
            </tr>
            <tr>
                <th>accessIPv4</th><td>{{ instance.accessIPv4 }}</td>
            </tr>
            <tr>
                <th>accessIPv6</th><td>{{ instance.accessIPv6 }}</td>
            </tr>
            <tr>
                <th>config_drive</th><td>{{ instance.config_drive }}</td>
            </tr>
            <tr>
                <th>created</th><td>{{ instance.created }}</td>
            </tr>
            <tr>
                <th>description</th><td>{{ instance.description }}</td>
            </tr>
            <tr>
                <th>flavor</th><td>{{ instance.flavor }}</td>
            </tr>
            <tr>
                <th>hostId</th><td>{{ instance.hostId }}</td>
            </tr>
            <tr>
                <th>host_status</th><td>{{ instance.host_status }}</td>
            </tr>
            <tr>
                <th>id</th><td>{{ instance.id }}</td>
            </tr>
            <tr>
                <th>image</th><td>{{ instance.image }}</td>
            </tr>
            <tr>
                <th>key_name</th><td>{{ instance.key_name }}</td>
            </tr>
            <tr>
                <th>locked</th><td>{{ instance.locked }}</td>
            </tr>
            <tr>
                <th>metadata</th><td>{{ instance.metadata }}</td>
            </tr>
            <tr>
                <th>name</th><td>{{ instance.name }}</td>
            </tr>
            <tr>
                <th>os_extended_volume</th><td>{{ instance.os_extended_volume }}</td>
            </tr>
            <tr>
                <th>progress</th><td>{{ instance.progress }}</td>
            </tr>
            <tr>
                <th>public_network</th><td>{{ instance.public_network }}</td>
            </tr>
            <tr>
                <th>security_groups</th><td>{{ instance.security_groups }}</td>
            </tr>
            <tr>
                <th>status</th><td>{{ instance.status }}</td>
            </tr>
            <tr>
                <th>tags</th><td>{{ instance.tags }}</td>
            </tr>
            <tr>
                <th>tenant_id</th><td>{{ instance.tenant_id }}</td>
            </tr>
            <tr>
                <th>updated</th><td>{{ instance.updated }}</td>
            </tr>
            <tr>
                <th>user_id</th><td>{{ instance.user_id }}</td>
            </tr>
        </table>

        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ instanceList }}</p>-->
    </div>
</body>
</html>