<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instance</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>이름</th><td>{{ instance.name }}</td>
            </tr>
            <tr>
                <th>id</th><td>{{ instance.id}}</td>
            </tr>
            <tr>
                <th>image</th><td>{{ instance.image}}</td>
            </tr>
            <tr>
                <th>key_name</th><td>{{ instance.key_name}}</td>
            </tr>
            <tr>
                <th>locked</th><td>{{ instance.locked}}</td>
            </tr>
            <tr>
                <th>metadata</th><td>{{ instance.metadata}}</td>
            </tr>
            <tr>
                <th>name</th><td>{{ instance.name}}</td>
            </tr>
            <tr>
                <th>os_extended_volumes</th><td>{{ instance.os_extended_volumes}}</td>
            </tr>
            <tr>
                <th>progress</th><td>{{ instance.progress}}</td>
            </tr>
        </table>

        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ instanceList }}</p>-->
    </div>
</body>
</html>